<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with JohnDoe landing page.">
    <meta name="author" content="Devcrud">
    <title>Joan Agency | Design studio</title>
    <!-- font icons -->
    <link rel="stylesheet" href="/vendors/themify-icons/css/themify-icons.css">
    <link rel="shortcut icon" href="/images/favico.png" type="image/x-icon" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="css/johndoe.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <a href="components.html" class="btn btn-primary btn-component" data-spy="affix" data-offset-top="600"><i class="ti-shift-left-alt"></i> Components</a>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <h4 class="header-subtitle" >Hola soy!</h4>
                <h1 class="header-title">Joan Mateus</h1>
                <h6 class="header-mono" >Diseñador Gráfico | Developer</h6>
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#about" class="nav-link">Sobre mi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#service" class="nav-link">Mis servicios</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav brand">
                    <img src="/images/Joan.png" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h5 class="brand-title">Joan Mateus</h5>
                        <div class="brand-subtitle">Diseñador Gráfico | Developer</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#portfolio" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="#contact" class="nav-link">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Quién soy ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">Diseñador Industrial - Gráfico</h5>
                <p class="mt-20">Diseñador, con alto interés en procesos conceptuales de desarrollo de productos y servicios referentes al diseño. El trabajo en equipo es una de mis fortalezas, así como individuales, generando soluciones creativas con base en conceptos de diseño e ilustración, así mismo,  ideas de innovación en edición de videos, diseño de piezas para pautas en redes sociales y papeleria comercial.</p>
                
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Datos Personales</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Email</span> : jmts.32@hotmail.com</li>
                    <li><span>Celular</span> : +57 3102257873</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" target="_blank" href="https://www.facebook.com/joanmanuel.mateusr/"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" target="_blank" href="https://www.instagram.com/joanmanuelmateusr/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" target="_blank" href="https://api.whatsapp.com/send?phone=3102257873"><i class="ti-mobile" aria-hidden="true"></i></a></li>
                </ul>  
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Mis habilidades</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-widget icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Desarrollo web</h6>
                        <p class="subtitle">HTML, CSS3, Javascript y MSQL</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-paint-bucket icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Ilustración y Vectorización 2D</h6>
                        <p class="subtitle">Logotipos, Branding.</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Retoques fotográficos</h6>
                        <p class="subtitle">Edición de imágenes por medio de Photoshop</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+500</h1>
                            <p class="text-light mb-1">Horas en proyectos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+50</h1>
                            <p class="text-light mb-1">Projectos Terminados</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-face-smile icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+100</h1>
                            <p class="text-light mb-1">Clientes Satisfechos</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-heart-broken icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+6</h1>
                            <p class="text-light mb-1">Proyectos Requeridos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">Mis</span> Servicios</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-vector text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Diseño Gráfico</h5>
                            <P class="subtitle">Con mis herramientas de diseño y comunicación gráfica, es mi deber hacer posibles todas sus ideas, construyendo piezas únicas y mensajes con un alto grado de recordación, marcando la diferencia en la comunicación con la cual quiero llegar a sus clientes.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-write text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Papeleria Comercial</h5>
                            <P class="subtitle">Toda la papeleria comercial y empresarial para su compañia, en sus diferentes formas; separables y formas continuas, con finalizados para cada formato, diseños únicos y estilos propios acorde a la imagen de su empresa.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-package text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Promocionales - Souvenires</h5>
                            <P class="subtitle">Los promocionales o material pop son esos detalles especiales y distintivo que su compañia ofrece a los clientes dejando en su memoria siempre la presencia de su marca, especiales para todas temporadas y ocaciones, desde obsequios de alta gama, hasta pequeños detalles con impresiones de alta calidad. </P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-map-alt text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">DIseño web</h5>
                            <P class="subtitle">La apariencia de tu sitio web es la primera impresión que un visitante se lleva de tu marca y puede invitar o alejar a quienes entran en él. Por ello, es mi labor reflejar la imagen de su empresa por medio de un diseño web único y asi incrementar las visitas de sus clientes.</P>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-bar-chart text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Impresión Digital</h5>
                            <P class="subtitle">Impresión digital gran formato y corte digital con resolución de alta calidad permite grandes soluciones comunicativas y visuales, ofreciendo todos los servicios que requiere para la intalacion con personal experto.</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Section -->
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Mi</span> Portfolio</h1>
            <div class="portfolio">
                <div class="filters">
                    <a href="#" data-filter=".new" class="active">
                        Branding
                    </a>
                    <a href="#" data-filter=".advertising">
                         Web 
                    </a>
                    <a href="#" data-filter=".branding">
                        Stuffs
                    </a>
                    <a href="#" data-filter=".web">
                        Ilustraciones
                    </a>
                </div>
                <div class="portfolio-container"> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/images/Logo-2.png" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/images/Logo-2.png"></a>
                                <div class="text-holder">
                                    <h6 class="title">Logotipos</h6>
                                    <p class="subtitle">Ejemplos directos</p>
                                </div>
                            </div>   
                        </div>             
                    </div>
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/images/Propuestas-de-color.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/images/web-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">VARIACIONES</h6>
                                    <p class="subtitle">Propuestas de color.</p>
                                </div>
                            </div> 
                        </div>                         
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="/images/Diseño de Marca (logo).jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                         
                            <div class="content-holder">
                                <a class="img-popup" href="/images/advertising-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">DISEÑO DE MARCA</h6>
                                    <p class="subtitle">Propuesta para restaurante</p>
                                </div>
                            </div>    
                        </div>              
                    </div> 
                    <div class="col-md-6 col-lg-4 web">
                        <div class="portfolio-item">
                            <img src="/images/Muñeco 3D.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">
                            <div class="content-holder">
                                <a class="img-popup" href="/images/web-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">WEB</h6>
                                    <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>

                    <div class="col-md-6 col-lg-4 advertising"> 
                        <div class="portfolio-item">
                            <img src="/images/pagina web.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                               
                            <div class="content-holder">
                                <a class="img-popup" href="/images/pagina web.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">PÁGINAS WEB</h6>
                                    <p class="subtitle">Diseño Responsibe</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 web new">
                        <div class="portfolio-item">
                            <img src="/images/Retícula-de-Construcción-base.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                           <div class="content-holder">
                                <a class="img-popup" href="/images/web-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">Retícula</h6>
                                    <p class="subtitle">para construcción de logotipo</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div>
                    <div class="col-md-6 col-lg-4 advertising new">
                        <div class="portfolio-item">
                            <img src="/images/cartel-publicitario-4.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">       
                           <div class="content-holder">
                                <a class="img-popup" href="/images/advertising-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">PUBLICIDAD EXTERNA</h6>
                                    <p class="subtitle">Uso del logotipo en áreas externas (Cartel)</p>
                                </div>
                            </div>
                        </div>                                                       
                    </div> 
                    <div class="col-md-6 col-lg-4 advertising new"> 
                        <div class="portfolio-item">
                            <img src="/images/MOCKUP.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">            
                            <div class="content-holder">
                                <a class="img-popup" href="/images/advertising-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">MOCKUP</h6>
                                    <p class="subtitle">Proceso en papeleria comercial.</p>
                                </div>
                            </div>
                        </div>
                                
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="/images/branding-1.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                        
                            <div class="content-holder">
                                <a class="img-popup" href="/images/branding-1.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                                </div>
                            </div> 
                        </div>
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="/images/ilustracion 2D.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">  
                            <div class="content-holder">
                                <a class="img-popup" href="/images/branding-2.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                                </div>
                            </div>
                        </div>                                                     
                    </div> 
                    <div class="col-md-6 col-lg-4 branding new">
                        <div class="portfolio-item">
                            <img src="/images/Logo-FDA-ABogados-Gris.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">   
                            <div class="content-holder">
                                <a class="img-popup" href="/images/branding-3.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">LOGOTIPO</h6>
                                    <p class="subtitle">Para firma de abogados</p>
                                </div>
                            </div>
                        </div>                                                    
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="/images/branding-4.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">                      
                            <div class="content-holder">
                                <a class="img-popup" href="/images/branding-4.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                                </div>
                            </div>
                        </div>                                                      
                    </div> 
                    <div class="col-md-6 col-lg-4 branding">
                        <div class="portfolio-item">
                            <img src="/images/branding-5.jpg" class="img-fluid" alt="Download free bootstrap 4 admin dashboard, free boootstrap 4 templates">          
                            <div class="content-holder">
                                <a class="img-popup" href="/images/branding-5.jpg"></a>
                                <div class="text-holder">
                                    <h6 class="title">BRANDING</h6>
                                    <p class="subtitle">Expedita corporis doloremque velit in totam!</p>
                                </div>
                            </div>
                        </div>                                                   
                    </div>
                </div> 
            </div>  
        </div>            
    </section>
    <!-- End of portfolio section -->

   
    <section class="section bg-custom-gray" id="portfolio">
        <div class="container">
            <h1 class="mb-5"><span class="text-danger">Con</span>tacto</h1> 
    <div class="section contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="contact-form-card">
                        <h4 class="contact-title">¿Estás interesado/a? Escríbeme</h4>
                        <form action="">
                            <div class="form-group">
                                <input  class="form-control" type="text" placeholder="Nombre *" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" placeholder="Email *" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="teléfono" placeholder="Teléfono *" required>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" type="mensajes" placeholder="Mensaje *" rows="7" required></textarea>
                            </div>
                            <div class="form-group ">
                                <button type="submit" class="form-control btn btn-primary">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info-card">
                        <h4 class="contact-title">Contáctame</h4>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-mobile icon-md"></i>
                            </div>
                            <div class="col-10 ">
                                <h6 class="d-inline">Celular : <br> <span class="text-muted">+57 310 225 78 73</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-map-alt icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Dirección Bogotá :<br> <span class="text-muted">Cra. 114a # 77d - 20</span></h6>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-1 pt-1 mr-1">
                                <i class="ti-envelope icon-md"></i>
                            </div>
                            <div class="col-10">
                                <h6 class="d-inline">Email :<br> <span class="text-muted">jmts.32@hotmail.com</span></h6>
                            </div>
                        </div>
                        <ul class="social-icons pt-4">
                            <li class="social-item"><a class="social-link text-dark" target="_blank" href="https://www.facebook.com/joanmanuel.mateusr/"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" target="_blank" href="https://www.instagram.com/joanmanuelmateusr/"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                            <li class="social-item"><a class="social-link text-dark" target="_blank" href="https://api.whatsapp.com/send?phone=3102257873"><i class="ti-mobile" aria-hidden="true"></i></a></li>
                        </ul> 
                        <figure>
                            <img src="/images/logo Joan.png" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created With <i class="ti-heart text-danger"></i> By <a href="http://devcrud.com" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">DevCRUD</span></a> 
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- bootstrap 3 affix -->
    <script src="/vendors/bootstrap/bootstrap.affix.js"></script>

    <!-- Isotope  -->
    <script src="/vendors/isotope/isotope.pkgd.js"></script>
    

    <!-- JohnDoe js -->
    <script src="/js/johndoe.js"></script>

   

</body>
</html>
